img{
	width:100%;
}
*{
	padding:0;
	margin: 0;
}
.header{
	display: block;
	width: 100%;
	height: 13vh;
	background: #3A6FB5;
}
.bottomBody{
    display: block;
    width: 100%;
    height: 87vh;
    border: 0;
    position: relative;
}
.logo{
	display: block;
    padding: 1.5vh;
    width: 10vh;
}
.leftMenu{
    display: block;
    width: 200px;
     height: 100%; 
    background: #575B66;
    color: #FFF;
    position: absolute;
    left: 0;
}
.Menu{
	text-align: center;
}
.dataMan{
	background: #393D48;
	margin: auto;
    display: block;
    height: 45px;
    line-height: 45px;
    font-size: 18px;
}
.userInfo, .prizeInfo{
	display: block;
    height: 45px;
    line-height: 45px;
    font-size: 18px;
	margin: auto;
	cursor: pointer;
}
.searchBar{
	height: 5%;
    display: block;
    padding: 1% 2%;
}
.searchBar input[type=text], .searchBar select{
	height: 3vh;
    border-radius: 5px;
    border: 1px solid #CCC;
    padding-left: 10px;
}
.btn{
	background: skyblue;
    border: 0;
    padding: 7px 26px;
    border-radius: 4px;
    color: #FFF;
    font-size: 2vh;
}
.searchItem{
	height: 100%;
	float: left;
	width: 290px;
	line-height: 4vh;
	font-weight: bold;
	font-size: 2vh;
}
.rightContent{
    position: absolute;
    display: block;
    left: 199px;
    height: 100%;
    width: 80%;
}
.contentTable{
	padding: 0px 2%;
	position: relative;
	height: 91%;
}
.contentTable table{
	width: 100%;
    background: #eee;
}
.contentTable table tr td{
	background: #FFF;
	text-align: center;
}

a{ text-decoration:none;}
a:hover{ text-decoration:none;}
.tcdPageCode{padding: 15px 20px;text-align: left;color: #ccc;text-align:center;}
.tcdPageCode a{display: inline-block;color: #428bca;display: inline-block;height: 25px;	line-height: 25px;	padding: 0 10px;border: 1px solid #ddd;	margin: 0 2px;border-radius: 4px;vertical-align: middle;}
.tcdPageCode a:hover{text-decoration: none;border: 1px solid #428bca;}
.tcdPageCode span.current{display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px;color: #fff;background-color: #428bca;	border: 1px solid #428bca;border-radius: 4px;vertical-align: middle;}
.tcdPageCode span.disabled{	display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px;	color: #bfbfbf;background: #f2f2f2;border: 1px solid #bfbfbf;border-radius: 4px;vertical-align: middle;}

.pageDiv{
	position: absolute;
	bottom:20px;
}
.contentTable table thead td{
	background: skyblue;
	height:40px!important;
	color:#000;
	background: url(../images/theadBG.png);
}
.contentTable table tr td{
	height:35px;

}