body,html{width: 100%; height: 100%;     letter-spacing: 1px; font-weight:bold;font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu}
*{padding: 0;margin: 0;}
img {width: 100%}
ul{
	list-style: none;	
}
.rules{
	position: absolute;
	right: 2vw;
	top:2vw;
	width: 12vw;
}
.banner{
	height: 53vw;
}
.turntableFooter{
height: 3vw;
}
    
.lottery{
	background: url(../images/turntableBG.jpg);
	background-repeat: repeat-y;
	background-size: contain;
	height: 73.5vw;
}
.lottery .qrcode{
	width: 87%;
    margin: -15vw auto;
}
.lottery .prize {
	position: relative;
    top: -20vw;
    left: 2vw;
    width: 96vw;
}
.lottery table td{position:relative;}
.lottery table td.active .mask{display:block;}
.mask{
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    background:url(../images/mask.png) no-repeat;
    background-size: cover;
    display:none;
}
.notimeBtnDiv{
    width: 100%;
    display:block;
    height: 80px;
    position: absolute;
    bottom: 0;
}
.notimeBtn{
    width: 120px;
    margin: 10px auto;
    padding: 5px;
    border-radius: 5px;
    background: url(../images/btnBG.png);
    background-size: contain;
    height: 30px;
    line-height: 30px;
    color:#c0341f;
    text-align: center;
}
.footer {
	background:  #c0341f;
	height: 15vw;
	position: relative;
	color:#FFF;
}
.footer  .gameTimes{
	position: absolute;
	left:4vw;
	font-size: 3.5vw;
	line-height: 13.5vw;
}
.footer  .startGame, .footer .follow{
	text-align: center;
	width: 45vw;
	display: block;
	margin: auto;
	padding-top: 4vw;
}
.footer  .gift{
	position: absolute;
	width: 18vw;
	top:2vw;
	right: 3vw;

}
.water{
	height: 8vw;
	display: block;
}
.giftHeader{
	margin: auto;
	width: 55vw;
}
.showGoods{
	background:  #f9e6cc;
}
.showGoods table tr td{
	position: relative;
	color:#FFF;
	font-size: 4.5vw;
}
.showGoods .goodsTable{
	width: 100%;
}
.showGoods .goodsTable .goodsContent{
	display: block;
	height: 23vw;
	background-image: url(../images/goods.png);
	background-size: contain;
	background-repeat: no-repeat;
}
.showGoods .goodsTable .goodsContent .goodsName{
	position: absolute;
    left: 17px;
    top: 11px;
}
.showGoods .goodsTable .goodsContent .goodsImg{
	position: absolute;
	width: 24vw;
    right: 1vw;
    top: 3vw;
}

/************************* layer style *******************************/
.rulesSkin {
	background: #c0341f;
	border-radius: 7px;
}
.rulesSkin .layui-layer-title{
	 background: #c0341f;
	 color:#f9e6cc;
	 font-size: 5vw;
	 text-align: center;
	 font-weight: normal;
	 padding:0;
	 border: 0;
    height: 14vw;
    line-height: 14vw;
    border-radius: 7px;
}
.rulesSkin .rulesDiv{
    width: 98%;
	margin: 0 auto 1%;
    background: #f9e6cc;
    height: 99%;
}
.rulesSkin .rulesDiv ul{
	color: #c0341f;
    height: 100%;
    overflow: scroll;
}
.rulesSkin .rulesDiv ul li{
	line-height: 6vw;
	font-size: 3.6vw;
}
.rulesSkin .rules-content{
    width: 93%;
    margin: auto;
    height: 82%;
    padding-top: 3%;
}
.rulesSkin .closeDiv{
    text-align: center;
    height: 30px;
    position: absolute;
    width: 99.2%;
}
.rulesSkin .closeDiv .closeBottom{
	width: 92%;
}

@media screen and (max-width: 500px) { 
.rulesSkin  .closeDiv  {bottom: 6%}  
} 
@media screen and (max-width: 320px) { 
.rulesSkin  .closeDiv  {bottom: 2%}  
} 

.rulesSkin  .closeDiv .closeBtn{
	width: 130px;
    font-size: 15px;
    margin: auto;
    height: 6vw;
    line-height: 6vw;
    padding: 3px 15px;
    border: 1px solid #c0341f;
    background: #c0341f;
    color:#FFF;
    border-radius: 5px;
    font-weight: normal;

}
.rulesSkin .layui-layer-content{

}

.rulesSkin .layui-layer-btn{
	display: block;
    width: 92.5%;
    height: 8vw;
    background: #f9e6cc;
    margin: auto;
}

.rulesSkin .layui-layer-btn .layui-layer-btn0{
	background: #c0341f;
	border-color: #c0341f;  
}
.rulesSkin .layui-layer-btn  a{
	height: 32px;
    line-height: 32px;
    border-radius: 5px;
    margin: -10px;
    padding: 0 28px;
}

.tipSkin {
	border-radius: 7px;
	background: #c0341f;
	    padding-bottom: 1%;
}
.tipSkin .tipSpan{
    color: #FFF;
    display: block;
    height: 58%;
    width: 98%;
    margin: 3px auto 2px;
}
.tipSkin .tipContent{
	height: 100%;
    text-align: center;
    overflow: hidden;
}
.tipSkin .closeDiv .reload{
    font-size: 22px;
    line-height: 65px;
    height: 65px;
    display: block;
    color:#c0341f;
}
.tipSkin .layui-layer-btn{
	background: #f9e6cc;
	width: 92%;
	margin: auto;
}
.tipSkin .layui-layer-btn0{
	background: #c0341f;
	border-color:#c0341f; 
	color:#FFF;
    width: 84px;
    border-radius: 6px;
	height: 32px;
    line-height: 32px;
}
.tipSkin .tipContent .tipImg{
    display: block;
    width: 224px;
    padding: 15px;
    margin: auto;
}

.tipSkin .tipContent .closeDiv{
	background: #f9e6cc;
	text-align: center;
    height: 120px;
    position: relative;
    width: 98%;
    margin: 0px auto;
    font-weight: normal;
}
.tipSkin .tipContent .tipGift{
    margin: auto;
    display: block;
    width: 100%;
    height: 183px;
}
.tipSkin .tipContent .closeDiv .closeBottom{
	width: 100%;
	position: absolute;
    bottom: 14%;
}
.tipSkin .tipContent .closeDiv .closeBtn{
	width: 86px;
    font-size: 15px;
    margin: auto;
    height: 6vw;
    line-height: 6vw;
    padding: 3px 15px;
    border: 1px solid #c0341f;
    background: #c0341f;
    color:#FFF;
    border-radius: 5px;
    font-weight: normal;
}
.closeBottom .showBtn, .closeBottom .useBtn, .closeBottom .useBtnC{
    width: 116px;
    display: block;
    background: #c0341f;
    border-color: #c0341f;
    color: #FFF;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px;
    margin: 0px 14px;
}
.closeBottom .showBtn{
	float:left;
}
.closeBottom .useBtn{
	float: right;
}
.closeBottom .useBtnC{
    margin: auto;
}
.closeDiv .useTip{
    line-height: 24px;
    font-size: 15px;
    color: #c0341f;
    padding-top: 11px;
}
.closeDiv .lotteryDesc{
	color: #c0341f;
    height: 70px;
    padding: 16px;
}

/**************************優惠券*********************/
.weui-navbar{
	width: 100%;
	height: 100%;
	margin:0 auto;
	/*background-color: #EBEBEB;*/
}
.weui-navbar__item{
	width: 32.7%;
	height: 7vh;
	float: left;	
	text-align:center;
	font-size: 4vw;
	color: #848484;
	font-weight: normal;
}
.weui{
	width: 100%;
	height: 7vh;
	background-color:#FFFFFF;
}
.weui-navbar__item p{
    vertical-align:middle;
    line-height: 7vh;
}
.weui-navbar__item_gan{
    height: 5vh;
    float: left;
    margin-top: 0.5vw;
    border: 0.1vw #ECECEC solid; 
    background-color: #ECECEC;
}
.top_shiyong{
    margin-top:0.8vw;
    display: none;
    position: relative;/*裡面相對*/
}
.ztfont_color{
    color: red;
}
.ys_xz{
    border-bottom:0.5vw red solid;
    color:red;
}

.top_shiyong div{
    display:inline-block;
   
}

.c_yiyong{
    width: 98vw;
    background-size: cover;
    height: 37.5vw;
}
.t1{
    background-image: url("../images/goods/t1.png");
}
.t2{
    background-image: url("../images/goods/t2.png");
}
.t3{
    background-image: url("../images/goods/t3.png");
}
.t4{
    background-image: url("../images/goods/t4.png");
}
.t5{
    background-image: url("../images/goods/t5.png");
}
.top_shiyong .c_title{
    width: 8%;
    text-align: center;
    font-size: 5vw;
    padding: 0.5vw;
}
.top_shiyong .c_pic{
    width: 40%;
    padding: 0 10px;
}
.top_shiyong .c_pic img{
    width: 90%;
}
.top_shiyong .c_rigth{
    float:right;
    width: 50%;
    position: relative;
}
.top_shiyong .c_rigth .waterMark{
    position: absolute;
    right: 10px;
    width: 80%;
}
.top_shiyong .c_rigth div{
    width: 100%;
}
.top_shiyong .c_title .c_title_text{
    width: 80%;
}
.top_shiyong .c_rigth .c_name{
    height:15vw;
    /*border: 1px skyblue solid;*/
}
.top_shiyong .c_rigth .c_name .c_name_momey{    
    /*border: 1px #FFF solid;*/
    margin: 4vw 0 0 0;
    font-size: 5vw;
    text-align: center;
}
.top_shiyong .c_rigth .c_name .c_name_momey .mop{
    font-size: 4vw;
    color:#FFF;
    font-weight: normal;
    padding-right: 5px;
}
.top_shiyong .c_rigth .c_name .c_name_momey .mun{
    font-size: 8vw;
    color:#FFF;
}
.top_shiyong .c_rigth .c_name .c_name_momey .wz{
    font-size: 7vw;
    color:#FFF;
}
.top_shiyong .c_rigth .c_name .c_name_momey .s_text{
    font-size: 4vw;
    color:#FFF;
}
.top_shiyong .c_rigth .c_btn{
    height:9vw;
    /*border: 1px skyblue solid;*/
}
.top_shiyong .c_rigth .c_btn .btn{
    /*border: 1px #FFF solid;*/
    height: 8.5vw;
    margin: 0 auto;
    width: 38vw;
    display: block;
}
.top_shiyong .c_rigth .c_time{
    height:5vw;
    /*border: 1px skyblue solid;*/
}
.top_shiyong .c_rigth .c_time .time{
    /*border: 1px #FFF solid;*/
    height: 5vw;
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-size: 3vw;
    line-height: 5vw;
}
.timec_d{/*代金券*/
    color: #F97A2A;
}
.timec_x{/*xo醬*/
    color: #e06f2e;
}
.timec_j{/*兌換券*/
    color: #c7416e;
}
.top_shiyong .c_rigth .c_sy{
    height:7vw;
    /*border: 1px skyblue solid;*/
}
#none_d{
    width: 80vw;
    margin: auto;
    display: block;
    margin-top: 60px;
}
.tabContent{
    height: 92.5vh;
    display: block;
    overflow: scroll;
    width: 100%;
}
